// BV

.aboutBV{
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.aboutBV .content{
    margin: 2rem 1.5rem;
}

.aboutBV .text{
    color: #333333;
    opacity: 0.8;
    text-align: justify;
}


// MV