// BV

.FooterBV{
    background-color: #696964;
    color: #fff;
    padding: 3rem 0rem 0.5rem 0rem;
}

.FooterBV .borderLine{
    border: 0.1px solid #4b4b4b;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.FooterBV .rightText{
    color: #D9DBE1;
}




// Mv